<div class="comments-div">
    <a class="user-profile-link" href="/user/{{user_id}}">
        <h5 class="user-name-comment">By {{user.username}}</h5>
    </a>
    <p class="date-posted-comment">{{format_date comment_date}}</p> 
    <p class="content-comment">{{comment_text}}</p>
</div>