<div class="comments-div">
    <h6 class="user-name-comment">By <a class="user-profile-link" href="/user/{{user_id}}">{{user.username}}</a></h6>
    <p class="date-posted-comment">{{format_date comment_date}}</p> 
    <hr class="comment-hr">
    <p class="content-comment">{{comment_text}}</p>
</div>