<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wellness App</title>
  <link rel="stylesheet" type="text/css" href="/jass.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body> 
    <nav>
      <!-- conditionally renders login or logout links -->
        {{#if loggedIn}}
        <a class="header-link" href="/">Home</a>
        <a href="/profile">My Profile</a>
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
    </header>

    <main class="container container-fluid mt-5">
    <!-- render sub layout -->
      {{{body}}}
    </main>
    <footer>

    </footer>
    <!-- Render script for logged in users only -->
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>