<div class="single-post-div">
    <section class="post-container">
            <h4 class="user-name-post">By <a class="post-link" href="/user/{{post.user.id}}">{{post.user.username}}</a></h4>
            <p class="date-posted-post">{{format_date post.post_date}}</p> 
            <hr>
            <p class="content-post">{{post.post_content}}</p>
        </a>
    </section>

    <section class="comments-container-user-profile">
                {{#each post.comments as |comment|}}
                    {{> comment-details}}
                {{/each}}
    </section>
<div>

<section class="leave-comment">
  <form class="form-comment">
    <div class="input-group mb-3 div-comment">
      <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Submit</button>
      <input type="text" class="form-control" id="comment-content" placeholder="Leave your comment" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  </form>
</section>

<script src="/js/dashboardComment.js"></script>
