<section class="main-comment-contianer">

    {{!-- Render other user's post --}}
    <div class="row name-section">
        <div class="col-auto profile-username">
            <h2 class="profile-user-name">{{user.username}}</h2>
        </div>
    </div>

    {{!-- Render other user's posts and comments on them --}}
    <div class="post-comment-container">
        {{#each user.posts as |post|}}
            <div class="row align-center mb-5">
                <section class="post-container-user-profile">
                    <p class="date-posted-post-user-profile">{{format_date post_date}}</p> 
                    <hr>
                    <a class="post-link" href="/post/{{id}}">
                        <p class="content-post-user-profile">{{post_content}}</p>
                    </a>
                </section>

                <section class="comments-container-user-profile">
                    {{#each post.comments as |comment|}}
                        {{> comment-details}}
                    {{/each}}
                </section>
            </div>
        {{/each}}
    </div>

</section>





























