{{!-- This renders other user's posts and comments on the posts --}}
<div class="row">
    <div class="col-auto profile-username">
        <h2>{{user.username}}</h2>
</div>

{{!-- Space for the chart --}}

{{#each user.posts as |post|}}
    <div class="row align-center mb-5">
        <section class="post-container-user-profile">
            <a class="post-link" href="/post/{{id}}">
                <p class="date-posted-post-user-profile">{{format_date post_date}}</p> 
                <p class="content-post-user-profile">{{post_content}}</p>
            </a>
        </section>

        <section class="comments-container-user-profile">
            {{#each post.comments as |comment|}}
                {{> comment-details}}
            {{/each}}
        </section>

    </div>
{{/each}}

</div>